@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);
:host{
.pokemon{
  display: flex;
  position: relative;
  background: var(--branco);
  width: 49%;
  height:rem-calc(160) ;
  padding: rem-calc(20);;
  border-radius: rem-calc(10);

  &_status{
    h2{
      font-size: rem-calc(22);
      font-style: italic ;
      font-weight: 700;
      margin-bottom:  rem-calc(10);
    }
    ul {
      display: flex;
      flex-direction: column;

      li {
        background: var(--cinza);
        font-size: rem-calc(10);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: rem-calc(50);

        width: rem-calc(60);
        margin-bottom: rem-calc(5);
     }

    }

  }

    &_image{
       position:absolute;
       display: flex;
				align-items: center;
				justify-content: center;

				height: rem-calc(90);
				width: rem-calc(110);

				right: $padding;
				bottom: $padding;
       background: url(../../../assets/bg/background-list-pokemons.png);
    }

img {

  width: rem-calc(80) ;
}

}


}
